.td-table-create-question {
  border: solid;
  border-width: thin;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.th-table-question-view {
  padding-top: 5px;
  padding-bottom: 5px;
}

.title-question {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  height: auto;
}

.custom-Select-antd .ant-select .ant-select-selector{
  text-align: center !important;
}

.table-width-view {
  width: 700px !important;
}

.custom-select-width .ant-select{
  width: 100% !important;
}

.title-lable {
  font-size: 11px !important;
  font-style: italic !important;
  color: #096dd9 !important; 
  padding-bottom: 3px !important;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.div-panel-question {
  padding: 10px;
}

.panel-select-type-question {
  padding-left: 10px;
}

.title-lable-row {
  padding-left: 15px !important;
}

.title-select-data {
  padding-left: 15px;
  text-align: left;
}

.row-select-data {
  padding-left: 15px;
  margin-bottom: 20px;
}

.panel-grid-by-column {
  padding-top: 10px;
}

.tr-parrent {
  padding-top: 8px !important;
  padding-left: 8px !important;
  text-align: center !important;
  border: 1px solid !important;
  border-width: thin !important;
}

.fontSize12{
  font-size: 12px;
}

.titleNote{
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
}

.width-80-per{
  width: 80% !important;
}

.text-align-right{
  text-align: right !important;
}